.cache
.cursor/rules/nx-rules.mdc
.DS_Store
.env
.github/instructions/nx.instructions.md
.idea
.nx/cache
.nx/workspace-data
*.bak
*.crt
*.endpoint
*.env
*.gen.ts
*.key
*.local.json
*.log
*.map
*.mp4
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo
connect.lock
coverage
dist
libs/components/html
node_modules
out-tsc
sample.*
storybook-html-reports
storybook-static
storybook-tests.json
test-output
Thumbs.db
tmp
typings
vite.config.*.timestamp*
vitest.config.*.timestamp*
