.cache
.cursor/rules/nx-rules.mdc
.DS_Store
.DS_Store
.env
.github/instructions/nx.instructions.md
.nx/cache
.nx/workspace-data
*.bak
*.crt
*.endpoint
*.key
*.local.json
*.log
*.mp4
*.pem
*.tgz
apps/*/dist
connect.lock
coverage
dist
node_modules
out-tsc
sample.*
take-screenshot-last-input.txt
test-output
Thumbs.db
tmp
typings
vite.config.*.timestamp*
vitest.config.*.timestamp*
