@import "../../../libs/components/src/styles.css";
@source "../../../libs/components/src";

@theme inline {
  /* Override the default theme with built-in colours or use your own */
  --color-primary: var(--chart-2);
}
