@import "../../../libs/components/src/styles.css";
@source "../../../libs/components/src";

@theme inline {
  --color-primary: darkred;
  --color-info: darkred;
  --color-info-light: darkorange;
}

.bg-pasta {
  background-image: url("/background.svg");
}

ol,
ul {
  @apply leading-6;
}

.card {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23aaa' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  @apply my-24 w-full max-w-2xl bg-white px-8 font-medium shadow-lg text-shadow-md text-shadow-white;

  h1 {
    @apply mx-auto -mt-6 block max-w-fit -rotate-2 bg-orange-800/95 px-8 py-4 text-center text-white shadow-lg shadow-black/20 transition-transform text-shadow-md;
  }

  h2 {
    @apply mt-6 mb-2 text-orange-700;
  }
}
