@import "../../../libs/components/src/styles.css";
@source "../../../libs/components/src";

@theme inline {
  --color-primary: darkred;
  --color-info: darkred;
  --color-info-light: darkorange;
}

.bg-pasta {
  background-image: url("/background.svg");
}

.card {
  @apply bg-white/95 w-full shadow-lg px-8 max-w-2xl my-24;

  h1 {
    @apply text-white text-center shadow-lg -mt-6 py-4 px-8 -rotate-2 transition-transform bg-orange-800/95 max-w-fit mx-auto block;
  }

  h2 {
    @apply text-orange-700 mt-6 mb-2;
  }
}
